@model Variaveis

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Mínimo</th>
                <th>Máximo</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>sbyte</td><td>@Model.SByteMin</td><td>@Model.SByteMax</td></tr>
            <tr><td>byte</td><td>@Model.ByteMin</td><td>@Model.ByteMax</td></tr>
            <tr><td>short</td><td>@Model.ShortMin</td><td>@Model.ShortMax</td></tr>
            <tr><td>ushort</td><td>@Model.UShortMin</td><td>@Model.UShortMax</td></tr>
            <tr><td>int</td><td>@Model.IntMin</td><td>@Model.IntMax</td></tr>
            <tr><td>uint</td><td>@Model.UIntMin</td><td>@Model.UIntMax</td></tr>
            <tr><td>long</td><td>@Model.LongMin</td><td>@Model.LongMax</td></tr>
            <tr><td>ulong</td><td>@Model.ULongMin</td><td>@Model.ULongMax</td></tr>
            <tr><td>float</td><td>@Model.FloatMin</td><td>@Model.FloatMax</td></tr>
            <tr><td>double</td><td>@Model.DoubleMin</td><td>@Model.DoubleMax</td></tr>
            <tr><td>decimal</td><td>@Model.DecimalMin</td><td>@Model.DecimalMax</td></tr>
        </tbody>
        </table>
</div>
