@model Variaveis

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindos</h1>
    <p>
        Os valores de <b>Int</b> variam de <i>@Model.minInt</i> a <i>@Model.maxInt</i>
    </p>

    <p>
        Os valores de <b>Byte</b> variam de <i>@Model.minByte</i> a <i>@Model.maxByte</i>
    </p>
    <p>
        Os valores de <b>Sbyte</b> variam de <i>@Model.minSbyte</i> a <i>@Model.maxSbyte</i>
    </p>
    <p>
        Os valores de <b>Short</b> variam de <i>@Model.minShort</i> a <i>@Model.maxShort</i>
    </p>
    <p>
        Os valores de <b>Ushort</b> variam de <i>@Model.minUshort</i> a <i>@Model.maxUshort</i>
    </p>
    <p>
        Os valores de <b>Uint</b> variam de <i>@Model.minUint</i> a <i>@Model.maxUint</i>
    </p>
    <p>
        Os valores de <b>Long</b> variam de <i>@Model.minLong</i> a <i>@Model.maxLong</i>
    </p>
    <p>
        Os valores de <b>Ulong</b> variam de <i>@Model.minUlong</i> a <i>@Model.maxUlong</i>
    </p>
   


</div>
